<!-- Héritage de template ? Block(s) ? --> 
{% extends "base.html" %}

{% block main %}
    {% block content %}
<div class="grid">
    <article>
        <h2>Discover the {{ slug }}</h2>
        <div class="description">
            {{detail["description"]}}
        </div>
        <div class="card">
            <img src="{{detail["avatar"]}}" alt="" />
            <dl>
                <dt>Name</dt>
                <!--<dd>Brachiosaurus</dd>-->
                <dd>{{detail["name"]}}</dd>
                <dt>Name meaning</dt>
                <dd>{{detail["name_meaning"]}}</dd>
                <dt>Diet</dt>
                <dd>{{detail["diet"]}}</dd>
                <dt>Height</dt>
                <dd>{{detail["height"]}} m.</dd>
                <dt>Length</dt>
                <dd>{{detail["length"]}} m.</dd>
                <dt>Weight</dt>
                <dd>{{detail["weight"]}} kg.</dd>
            </dl>
        </div>
    </article>
    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for dino in topRated %}

        <a href="{{ url_for('detailDino', slug=dino["name"]) }}">
                <figure>
                    <img src="{{dino["avatar"]}}" alt="" />
                    <figcaption>Discover the {{dino["name"]}}</figcaption>
                </figure>
        </a>
            
        {% endfor %}
    </aside>
</div>

{% endblock %}
{% endblock %}
